*, ::after, ::before {
    box-sizing: border-box;
}

body{
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #131313;
}

h1{
	font-size: 64px;
	line-height: 75px;
	font-weight: 700;
}
h2{
	font-size: 64px;
	line-height: 75px;
	font-weight: 700;
}
p{
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #727272;
}
.btn{
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	background-color: #FF900E;
	padding: 20px 25px;
	border-radius: 8px;
	outline: none;
	border: none;
	cursor: pointer;
}

h1, p{
	margin-bottom: 32px;
	margin-top: 0px;
}
.btn{
	margin-bottom: 50px;
}

.container{
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
.mb-0{
	margin-bottom: 0px;
}
.mx-auto{
	margin-right: auto;
	margin-left: auto;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.d-flex{
	display: flex;
}
.flex-end{
	justify-content: end;
}
.flex-start{
	justify-content: start;
}
.align-items-center{
	align-items: center;
}
.justify-around{
	justify-content: space-around;
}
.justify-between{
	justify-content: space-between;
}
.flex-column{
	flex-direction: column;
}
.flex-grow{
	flex-grow: 1;
}
.img-fluid{
	max-width: 100%;
	height: auto;
}
.color-orange{
	color: #FF900E;
}
.color-gray{
	color: #727272;
}
.radius-8{
	border-radius: 8px;
}

.grid-2{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid-4{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-5{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-gap-10{
	grid-gap: 10px;
}

.grid-gap-15{
	grid-gap: 15px;
}
.grid-gap-20{
	grid-gap: 20px;
}
.grid-gap-75{
	grid-gap: 75px;
}


header{
	background: rgba(255, 144, 14, 0.1);
}
header .brand{
	font-size: 45px!important;
}
header .navbar ul{
	margin: 0;
	padding: 0;
}
header .navbar ul li{
	list-style: none;
	float: left;
	padding: 5px 20px;
	color: #424242;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
}

header .header-cta-module{
	max-width: 862px;
	margin-top: 100px;
}
header .banner{
	margin-bottom: 45px;
}



.feature-section{
	padding-top: 85px;
	padding-bottom: 130px;
}
.feature-section .container{
	max-width: 1318px;
}

.feature-section .quick-list{
	font-weight: 300!important;
	color: #727272;
}

@media(max-width: 600px){

}